* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #1e2d3b;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #2e3a46;
}

main {
  width: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* ----------------------- */

header img {
  height: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album_container {
  background-color: black;
  width: 200px;
  margin: 5px 10px;
}

.album_image img {
  height: 200px;
  padding: 15px;
}

.album_title {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.album_title p:first-child {
  color: white;
  font-size: 2em;
  text-align: center;
}

.album_title p:nth-child(2),
.album_title p:nth-child(3) {
  color: grey;
  text-align: center;
  margin-top: 10px;
}
